{% extends "layout.html" %}
{% block content %}  
    <h1 class="jumbotron">Your easy to use Calorie Counter</h1>
    <div class="min-height:100%; container-fluid">
        <h3 class="p-5">Would you like to lose some extra kilos?</h3>
        <h3 class="p-5 text-right">Would you like to gain some muscle?</h3>
        <h3 class="p-5 text-center">Do you want to have an edge on your competitors?</h3>
      </div>
    <h3 class="p-4 jumbotron text-center align-bottom">Our calorie counter can help you to achieve your goals. Our Calorie counter makes monitoring your food as easy as clicking a button.</h3>
{% endblock %}