{% extends "layout.html" %}

{% block content %} 
{% if not current_user.is_anonymous %}
  <h4 class="pl-3 ml-3 pb-3 mb-3">Calories spent today: {{ summation }} Kcal</h4>
{% endif %}
  <nav class="navbar navbar-light bg-light">
    <form class="form-inline" method="POST" action="{{ url_for('food.food_search') }}">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <div class="container">
        <div class="row">
          <div class="col-LG">
            <h4 class="m-3">Check calories (100g):</h4>
          </div>
          <div class="col-LG">
            <input class="m-3 form-control mr-sm-2" name="search" type="search" placeholder="search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </div>
    </form>
  </nav>
  {% if length is defined %}
  <div class="container">
        <div class="container">
          {% set num = 3 %}
          {% for z in range(length//3) %}
          {% set num = z*num %}
          
          
          <div class="row">
            {% for i in range(0+num,3+num) %}
            <div class="col-sm pb-5">
                {% if values %}
                <form method="POST" action="{{ url_for('food.food_search') }}">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                  <h1>{{ values[i]["food"]["label"] }}</h1>
                  <input type="hidden" name="label" value="{{ values[i]['food']['label'] }}">
                  <h6>Calories: {{ values[i]["food"]["nutrients"]['ENERC_KCAL']|int }}</h4>
                  <input type="hidden" name="calorie" value="{{ values[i]['food']['nutrients']['ENERC_KCAL']|int }}">
                  {% if values[i]["food"]["nutrients"]['CHOCDF'] is defined %}
                  <h6>Carbs: {{ values[i]["food"]["nutrients"]['CHOCDF']|int }}</h6>
                  <input type="hidden" name="carb" value="{{ values[i]['food']['nutrients']['CHOCDF']|int }}">
                  {% endif %}
                  {% if values[i]["food"]["nutrients"]['PROCNT'] is defined %}  
                  <h6>Protein: {{ values[i]["food"]["nutrients"]['PROCNT']|int }}</h6>
                  <input type="hidden" name="protein" value="{{ values[i]['food']['nutrients']['PROCNT']|int }}">
                  {% endif %}
                  {% if values[i]["food"]["nutrients"]['FAT'] is defined %}
                  <h6>Fat: {{ values[i]["food"]["nutrients"]['FAT']|int }}</h6>
                  <input type="hidden" name="fat" value="{{ values[i]['food']['nutrients']['FAT']|int }}">
                  {% endif %}
                  {% if current_user.is_authenticated %}
                    <button style="background-color:#0000FF"onclick="alert('You added the item to the database')" type="submit" class="btn btn-secondary" formaction="{{ url_for('food.food_database') }}" >add</button>
                </form>
                  {% endif %}
                  {% if values[i]["food"]["image"] is defined %}
                    <img src='{{ values[i]["food"]["image"] }}' alt="Responsive image" class="img-thumbnail"> 
                  {% else %}
                    <p>No image</p>
                  {% endif %}
                {% endif %}
            </div>
            {% endfor %}  
          </div>
          {% endfor %}
        </div>
  {% endif %}      
  </div>
{% endblock %}