{% extends "layout.html" %}

{% block content %} 
  <nav class="navbar navbar-light bg-light">
    <form class="form-inline" method="POST" action="{{ url_for('food.food_search') }}">
      <div class="container">
        <div class="row">
          <div class="col-LG">
            <h4 class="m-3">Check calories</h4>
          </div>
          <div class="col-LG">
            <input class="m-3 form-control mr-sm-2" name="search" type="search" placeholder="search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </div>
    </form>
  </nav>
  {% if length is defined %}
  <div class="container">
        <div class="container">
          {% set num = 3 %}
          {% for z in range(length//3) %}
          {% set num = z*num %}
          <div class="row">
            {% for i in range(0+num,3+num) %}
            <div class="col-sm">
                {% if values %}
                  <h1>{{ values[i]["food"]["label"] }}</h1>
                  <h6>Calories: {{ values[i]["food"]["nutrients"]['ENERC_KCAL']|int }}</h4>
                  <h6>Carbs: {{ values[i]["food"]["nutrients"]['CHOCDF']|int }}</h6>
                  <h6>Protein: {{ values[i]["food"]["nutrients"]['PROCNT']|int }}</h6>
                  <h6>Fat: {{ values[i]["food"]["nutrients"]['FAT']|int }}</h6>
                  {% if values[i]["food"]["image"] is defined %}
                    <img src='{{ values[i]["food"]["image"] }}' alt="Responsive image" class="img-thumbnail"> 
                  {% else %}
                    <p>No image</p>
                  {% endif %}
                {% endif %}
            </div>
            {% endfor %}  
          </div>
          {% endfor %}
        </div>
  {% endif %}      
  </div>
{% endblock %}