{% extends "layout.html" %}
{% block content %} 
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline" method="POST" action="{{ url_for('recipe.recipe_search') }}">
        <div class="container">
            <div class="row">
            <div class="col-LG">
                <h4 class="m-3">Search</h4>
            </div>
            <div class="col-LG">
                <h4 class="m-3">recipe:</h4>
            </div>
            <div class="col-LG">
                <input class="m-3 form-control mr-sm-2" name="search" type="search" placeholder="search" aria-label="Search">
                <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
            </div>
           
            <div class="col-LG">
                <h4 class="m-3">Calorie max per serving: range(0-600)</h4>
            </div>
            <div class="col-LG">
                <!-- <input class="m-3 form-control mr-sm-2" name="calorie" type="search" placeholder="search" aria-label="Search"> -->
                <input type="range" name="calorie" min=0 max=600 value=450 class="mt-4">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </div>
            
        </form>
    </nav>
    {% if length is defined %}
    {% for i in range(length) %} 
        <div class="row p-5 pl-5">
            <div class="container ml-5 col-md pl-5">
                <h3>{{ Recipe_data[i]["recipe"]["label"] }} (100g)</h3>
                <div class="container">
                    <div class="row">
                      <div class="col-sm">
                        <ul>
                            <p class="p-0 m-0">Calories:</p>
                            <p class="p-0 m-0">Protein:</p>
                            <p class="p-0 m-0">Carbohydrates:</p>
                            <p class="p-0 m-0">Fat:</p>
                        </ul>
                        </div>
                        <div class="col-sm">
                            {% set total_weight = Recipe_data[i]["recipe"]["totalWeight"] %}
                            <p class="p-0 m-0">{{ ((Recipe_data[i]["recipe"]["calories"]/total_weight)*100)|int }} Kcal</p>
                            <p class="p-0 m-0">{{ ((Recipe_data[i]["recipe"]["totalNutrients"]["PROCNT"]["quantity"]/total_weight)*100)|round(2) }} g</p>
                            <p class="p-0 m-0">{{ ((Recipe_data[i]["recipe"]["totalNutrients"]["CHOCDF"]["quantity"]/total_weight)*100)|round(2) }} g</p>
                            <p class="p-0 m-0">{{ ((Recipe_data[i]["recipe"]["totalNutrients"]["FAT"]["quantity"]/total_weight)*100)|round(2) }} g</p>
                        </div>
                    </div>
                </div>
                <h3>Ingredients:</h3>
                <ul>
                    {% for item in Recipe_data[i]["recipe"]["ingredientLines"] %}
                    <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm">
                <img src='{{ Recipe_data[i]["recipe"]["image"] }}' alt="Responsive image" class="rounded mx-auto d-block" >
            </div> 
        </div> 
    {% endfor %}
    {% endif %}
    
{% endblock %}