{% extends "layout.html" %}
{% block content %} 
    {% for i in range(length) %} 
        <div class="row">
            <div class="col-sm p-75">
                <h3>{{ Recipe_data[i]["recipe"]["label"] }} (100g)</h3>
                <div class="container">
                    <div class="row">
                      <div class="col-sm">
                        <ul>
                            <p class="p-0 m-0">Calories:</p>
                            <p class="p-0 m-0">Protein:</p>
                            <p class="p-0 m-0">Carbohydrates:</p>
                            <p class="p-0 m-0">Fat:</p>
                        </ul>
                        </div>
                        <div class="col-sm">
                            {% set total_weight = Recipe_data[i]["recipe"]["totalWeight"] %}
                            <p class="p-0 m-0">{{ ((Recipe_data[i]["recipe"]["calories"]//total_weight)*100)|int }} Kcal</p>
                            <p class="p-0 m-0">{{ ((Recipe_data[i]["recipe"]["calories"]//total_weight)*100) }} g</p>
                            <p class="p-0 m-0">{{ ((Recipe_data[i]["recipe"]["calories"]//total_weight)*100) }} g</p>
                            <p class="p-0 m-0">{{ ((Recipe_data[i]["recipe"]["totalNutrients"]["FAT"]["quantity"]/Recipe_data[i]["recipe"]["totalWeight"])*100)|round(2) }} g</p>
                        </div>
                    </div>
                </div>
                <h3>Ingredients:</h3>
                <ul>
                    {% for item in Recipe_data[i]["recipe"]["ingredientLines"] %}
                    <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm">
                <img src='{{ Recipe_data[i]["recipe"]["image"] }}' alt="Responsive image" class="img-thumbnail h-75 w-50" >
            </div> 
        </div> 
    {% endfor %}
    
{% endblock %}